a{
    text-decoration: none;
    color: brown;
}

.container
{

  padding: 5px;
  margin: 100px;

}
input
{
    width: 250px;
    border: 1px solid brown;
    border-radius: 10px;
}
form
{
   
    padding: 3px;
    margin: 0px 250px 0px 200px;
}
button{
    padding: 3px;
    margin: 5px;
}